@mixin Button($name, $config:()) {
  $config: map-merge((
    color: $primary-font-color,
    background-color: $primary-button-color,
    box-shadow-color: $primary-button-color,
    hover-background-color: $primary-button-hover-color
  ), $config);

  %#{$name} {
    width: 100%;
    padding: 8px 24px;
    color: map-get($config, color);
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    border: none;
    background-color: map-get($config, background-color);
    box-shadow: 0 2px 2px map-get($config, box-shadow-color);
    cursor: pointer;

    &:hover {
      background-color: map-get($config, hover-background-color);
    }

    &:active {
      background-color: map-get($config, background-color);
    }

    @include respond-to('xs') {
      height: 56px;
    }

    @include respond-to('sm-lg') {
      height: 64px;
    }
  }
}
