@mixin Checkbox($name, $label:'label', $config:()) {
  $config: map-merge(
      (border-color: #000, background-color: transparent),
      $config
  );

  %#{$name} {
    background-color: map-get($config, background-color);

    > .control {
      @extend %hiddenControl;

      &:checked + .label {
        &:before {
          background: transparent icon-url('checkmark3', map-get($config, border-color)) no-repeat center center;
        }
      }

      &:focus + .label {
        @extend %focus;
      }
    }

    > .label {
      @extend %#{$label};
      display: flex;
      flex-direction: row;
      align-items: center;

      &:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 24px;
        border: 1px solid map-get($config, border-color);
      }
    }

    &.disabled {
      > .control {
        pointer-events: none;
      }
      > .label {
        opacity: .5;
        cursor: not-allowed;
      }
    }
  }
}
