@mixin Label($name, $config:()) {
  $config: map-merge(
      (color: #000),
      $config
  );
  %#{$name} {
    display: block;
    color: map-get($config, color);
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }
}
