@mixin Textfield($name, $label:'label', $config:()) {
  $config: map-merge(
      (border-color: #000,
      font-color: #333),
      $config
  );

  %#{$name} {
    > .label {
      @extend %#{$label};
      margin-bottom: 4px;

      + .optional {
        margin-left: 5px;
        font-weight: normal;
      }
    }

    > .field {
      box-sizing: border-box;
      width: 100%;
      padding: 0 16px;
      color: map-get($config, font-color);
      font-family: inherit;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid map-get($config, border-color);
      background: $white;

      &::placeholder {
        color: $placeholder-font-color;
      }
    }

    > .errorMessage {
      @extend %lipstick-form-validation-error;
    }

    @include respond-to('xs') {
      > .field {
        height: 40px;
      }
    }

    @include respond-to('sm-lg') {
      > .field {
        height: 64px;
      }
    }
  }
}
