// breakpoints and ranges [xs][sm][md][lg]

// 0
// [xs]
$sm_breakpoint: 920px;
// [sm]
$md_breakpoint: 920px;
// [md]
$lg_breakpoint: 1300px;
// [lg]
// infinity

// breakpoints min / max
$xs_max: $sm_breakpoint - 1;
$sm_min: $sm_breakpoint;
$sm_max: $md_breakpoint - 1;
$md_min: $md_breakpoint;
$md_max: $lg_breakpoint - 1;
$lg_min: $lg_breakpoint;

// ranges
$ranges: (
  'xs': '(max-width:' + $xs_max + ')',
  'xs-sm': '(max-width:' + $sm_max + ')',
  'xs-md': '(max-width:' + $md_max + ')',
  'sm': '(min-width: ' + $sm_min + ') and (max-width: ' + $sm_max + ')',
  'sm-md': '(min-width: ' + $sm_min + ') and (max-width: ' + $md_max + ')',
  'sm-lg': '(min-width: ' + $sm_min + ')',
  'md': '(min-width: ' + $md_min + ') and (max-width: ' + $md_max + ')',
  'md-lg': '(min-width: ' + $md_min + ')',
  'lg': '(min-width: ' + $lg_min +')'
) !default;

@mixin respond-to($range) {
  @if map-has-key($ranges, $range) {
    // Prints a media query based on the value
    @media #{inspect(map-get($ranges, $range))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$range}`. "
        + "Available breakpoints are: #{map-keys($ranges)}.";
  }
}
