@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function get-icon($icon) {
  @if map-has-key($icons, $icon) {
    @return map-get($icons, $icon);
  }

  @error "Invalid icon name: `#{$icon}`.";
}

@function icon-url($iconName, $fillColor: '000', $width:16, $height:16) {
  $mediaType: "data:image/svg+xml";

  $fillColorProp: "fill='" + str-replace(quote($fillColor), '#', '%23') + "'";
  $svgOpening: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='" + $width + "' height='" + $height + "'%3E";
  $svgClosing: "%3C/svg%3E";
  $pathTag: "%3Cpath " + $fillColorProp + " d='" + get-icon($iconName) + "'/%3E";

  @return url($mediaType + "," + $svgOpening + $pathTag + $svgClosing);
}
