$primary-font-color: #333;
$placeholder-font-color: #aaa;

$white: #fff;

$primary-button-color: #bd0074;
$primary-button-border-color: #8e0057;
$primary-button-hover-color: #d50083;

$primary-controls-color: #416473;

$validation-error-font-color: #FFDEDD;

$primary-field-color: #ddd;

$outline_color: #3b99fc;