$primary-font-color: #333;
$placeholder-font-color: #aaa;

$white: #fff;

$primary-button-color: #F8B912;
$primary-button-border-color: #C08B00;
$primary-button-hover-color: #F9CC57;

$primary-controls-color: #416473;

$validation-error-font-color: #FFDEDD;

$primary-field-color: #ddd;

$outline_color: #3b99fc;