@import "./colors/_komplett.scss";
@import "./utils/_breakpoints.scss";
@import "./utils/_icons.scss";
@import "./utils/_functions.scss";
@import "_typography.scss";


@import './form/_primitives.scss';
@import './form/_error.scss';
@import './form/_label.scss';
@import './form/_button.scss';
@import './form/_checkbox.scss';
@import './form/_radio.scss';
@import './form/_textfield.scss';

@include Label('form-label-light', (color: $white));
@include Label('form-label-dark', (color: $primary-font-color));

@include Button('form-button-primary',
  (
    color: $primary-font-color,
    background-color: $primary-button-color,
    box-shadow-color: $primary-button-border-color,
    hover-background-color: $primary-button-hover-color
  ));

@include Checkbox('form-checkbox-dark', 'form-label-light',
(
    border-color: $primary-controls-color
));

@include Radio('form-radio-dark', 'form-label-light',
(
    border-color: $primary-controls-color
));

@include Textfield('form-textfield-light', 'form-label-dark', (border-color: $primary-field-color));
@include Textfield('form-textfield-dark', 'form-label-light', (border-color: $primary-field-color));